:root {
  --gray-high: #333740;
  --gray-very-high: #282c34;
}

.mode-dark {
  --primary-color: white;
  --secondary-color: var(--gray-high);
}

.mode-light {
  --primary-color: var(--gray-high);
  --secondary-color: white;
}

.container {
  min-height: 100vh;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: var(--gray-very-high);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

main {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

button {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 10px 20px;
  font-size: 30px;
  border-radius: 8px;
  border: 0;
}